Repository reactjser/vue3-virtual-scroll-list: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat: v0.1.0
  .npmignore
  package.json
Due: prettier --write

chore: update readme
  README.md
Due: prettier --write

chore: add examples
  README.md
Due: prettier --write

refactor: use tsx replace render function
  src/item.tsx
  src/props.ts
  src/virtual-list.tsx
Due: eslint --fix, prettier --write

chore: release v0.1.1
  package.json
Due: prettier --write

fix: remove console
  package.json
  src/item.tsx
  src/virtual-list.tsx
Due: eslint --fix, prettier --write

refactor: event
  package-lock.json
  package.json
  rollup.config.js
  src/item.tsx
  src/virtual-list.tsx
Due: eslint --fix, prettier --write

feat: expost public getOffset method
  package-lock.json
  package.json
  src/virtual-list.tsx
Due: eslint --fix, prettier --write

feat: expose virtual
  src/virtual-list.tsx
Due: eslint --fix, prettier --write

chore: allow package to be installable by gitpkg
  package.json
Due: prettier --write

chore: add comment detailing reason for fork
  README.md
Due: prettier --write

test
  test.txt
Due: none

Path conditions:
  eslint --fix: any of: src/**/*.{ts,tsx}
  prettier --write: any of: *.{ts,tsx,js,json,md}
